---
- hosts: all
  become: true

  tasks:
    - name: Install httpd
      yum:
        name: httpd
        state: present

    - name: Ensure httpd service is running and enabled
      service:
        name: httpd
        state: started
        enabled: yes
